<h1> This is the Browning School </h1>
<h2> Addess is 52 East 62nd Street </h2>

<% [1,2,3,4,5].each do |b| %>
  <h2><%= b %></h2>
<% end %>

<h2> Names </h2>
<% ["Danny", "Saber", "Aaron"].each do |name| %>
  <h3> <%= "HI #{name.upcase}" %> </h3>
<% end %>
